* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #303446, #232634); 
}

html {
}

body, html {
    height: 100%;
    font-family: "Source Code Pro", monospace, Arial, sans-serif;
    color: #232634; /* Light text */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    text-align: center;
    max-width: 800px;
    padding: 50px 20px;
    background-color: #303446;
    outline: 1px #c6a0f6 solid;
    background: rgb(48, 52, 70, 0.2);  /* Semi-transparent white background */
    backdrop-filter: blur(10px);  /* Apply blur to the content behind */
    border-radius: 10px;  /* Optional: rounded corners for a smooth, soft look */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.logo {
    max-width: 150px; /* Adjust logo size */
    margin-bottom: 20px;
    border-radius: 50%;
    margin-top:10px;
    outline: 3px #c6a0f6 solid;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.description {
    font-size: 1.2rem;
    color: #c6d0f5;
    margin-bottom: 10px;
}

.visitors {
    font-size: 1rem;
    margin-top:5px;
    color: #c6d0f5;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #babbf1; /* Light blue color for links */
    font-size: 1.1rem;
    transition: color 0.3s;
    margin-bottom:10px;
    content: '';
}

.links a:hover {
    color: #f4b8e4; /* Yellow color on hover */
    content: '>';
}

.links a:hover:before {
    content: '> ';
}

